{% extends "core/base.html" %}

{% block body %}
	<header>
		<div class="jumbotron">
			<div class="container">
				<h1>Show Perfil</h1>
			</div>
		</div>
	</header>
	<main>
		<div class="container">
			<div class="row">
				<!-- My Perfil -->
				<div class="col-md-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">Perfil</h3>
						</div>
						<div class="panel-body">
							<img src="{{ perfil.foto.url }}" alt="Imagem Perfil">
							<ul class="list-group">
								<li class="list-group-item">Nome: {{perfil.nome}}</li>
								<li class="list-group-item">Email: {{perfil.email}}</li>
								<li class="list-group-item">Data de nascimento {{perfil.dtNascimento}}</li>
								<li class="list-group-item">Mora em {{perfil.localidade}}</li>
								<li class="list-group-item">Trabalha de {{perfil.cargo}} na {{perfil.empresa}}</li>
								<li class="list-group-item">Estuda {{perfil.curso}} na {{perfil.escola}}</li>
								<li class="list-group-item">Cadastrado em {{perfil.dtCadastro}}</li>
							</ul>		
							<a href="{% url 'perfis:convidar' perfil.id %}" class="btn btn-success">Add Perfil</a>
						</div>
					</div>
				</div>
				<!-- /My Perfil -->
			</div>
		</div>
	</main>


{% endblock %}