{% extends "core/base.html" %}

{% block body %}
	<header>
		<nav class="navbar-inverse">
			<div class="container">
				<!-- Logo -->
				<div class="navbar-header">
					<a href="#" class="navbar-brand">Djansocial</a>
				</div>
				<!-- Login -->
				<div class="navbar-collapse collapse">
					<form action="" class="navbar-form navbar-right">

						<input type="text" class="form-group form-control" placeholder="Email">
						<input type="text" class="form-group form-control" placeholder="Nome">
						<button type="submit" class="btn btn-success">Logar</button>
					</form>
				</div>
			</div>
		</nav>
		<div class="jumbotron">
			<div class="container">
				<h1>Bem-vindo ao Djansocial</h1>
				<p>Uma redesocial com feita principalmente em Django e Angular simplismente para estudar e praticar conhecimentos aprendidos nestes dois frameworks ;)</p>
			</div>
		</div>
		<div class="container">
			{% if perfis %}
				<h2>Veja nossos já usuários cadastrados:</h2>
				<div class="row">
					{% for perfil in perfis %}
						<div class="col-lg-4 itens-perfil">
							<a href="{% url 'showPerfil' perfil.id %}">{{ perfil.nome }} <span class="btn btn-info">Ver Perfil</span></a>
						</div>
					{% endfor%}
				</div>
				<p>Aproveite e se cadastre também!!!</p>
			{% else %}
				<h2>Ainda não temos nenhum usuário cadastrado.</h2>
				<p>Aproveite e seja o primeiro a se cadastrar :D</p>

			{% endif %}
			<a href="#" class="btn btn-primary">Cadastrar</a>
		</div>
	</header>

{% endblock %}