{% extends "core/base.html" %}

{% block body %}
	<header>
		<div class="jumbotron">
			<div class="container">
				<h1>Show Perfil</h1>
			</div>
		</div>
	</header>
	<main>
		<div class="container">
			<img src="" alt="Imagem Perfil">		
			<li>Nome: {{perfil.nome}}</li>
			<li>Email: {{perfil.email}}</li>
			<li>Data de nascimento {{perfil.dtNascimento}}</li>
			<li>Mora em {{perfil.localidade}}</li>
			<li>Trabalha de {{perfil.cargo}} na {{perfil.empresa}}</li>
			<li>Estuda {{perfil.curso}} na {{perfil.escola}}</li>

			<a href="#">Editar Perfil</a>
		</div>
	</main>


{% endblock %}